<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="/assets/css/anyCategory.css">
<head>
<body bgcolor=#f1ded3>
    <div class="menu">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload file</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/popular">Most popular</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="username">Welcome, {{ .Username}}</div>


    <div class = "newlyUploadedBox">
                    <table border="1" width="100%" cellpadding="5">
                        <tr>
                            <th>Filename</th>
                            <th>Filesize</th>
                            <th>Description</th>
                            <th>Owner</th>
                            <th>Upload date</th>
                            <th>Rating</th>
                        </tr>
                        {{range .UploadedFiles}}
                        <tr>
                            <td width="15%" title={{ .LabelComment}}><a href={{ .DownloadLink}}>{{ .Label}}</a></td>
                            <td width="10%" title={{ .FilesizeBytesComment}}>{{ .FilesizeMb}}</td>
                            <td width="25%" title={{ .DescriptionComment}}>{{ .Description}}</td>
                            <td width="15%">{{ .Owner}}</td>
                            <td width="15%">{{ .UploadDate}}</td>
                            <td width="10%">{{ .Rating}}</td>
                        </tr>
                        {{ end }}
                    </table>
        </div>
    </div>

    <div class="pagesNums">
        {{range .LinkList}}
        <a href={{ .Link}}>{{ .NumPage}}</a>
        {{ end }}
    </div>
</body>