<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Hosting</title>
    <link rel="stylesheet" href="assets/css/popular.css">
<head>
<body bgcolor=#f1ded3>
    <div class="menu">
        <ul class="nav">
            <li><a href="/upload">Upload file</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="username">Welcome, {{ .Username}}</div>
    
    <div class="label">
        <br><br><br><br><br>
        <p><h1>↓↓↓ MOST POPULAR FILES ↓↓↓</h1></p>
    </div>

    <div class = "newlyUploadedBox">
        <div class = "newlyUploadedContent">
                {{range .UploadedFiles}}
                    <table border="1" width="100%" cellpadding="5">
                        <tr>
                            <td width="15%" title={{ .LabelComment}}><a href={{ .Link}}>{{ .Label}}</a></td>
                            <td width="10%" title={{ .FilesizeMbComment}}>{{ .FilesizeMb}}</td>
                            <td width="25%" title={{ .DescriptionComment}}>{{ .Description}}</td>
                            <td width="15%">{{ .Owner}}</td>
                            <td width="10%">{{ .Category}}</td>
                            <td width="15%">{{ .UploadDate}}</td>
                            <td width="10%">{{ .Rating}}</td>
                        </tr>
                    </table>
                {{ end }}
            </ul>
        </div>
</body>