.menu {
    position: absolute;
    margin-left: 13%;
    width: 70%;
}

.nav li { 
    display: inline; 
}

ul.nav a {
    display: inline-block;
    width: 14.5%;
    padding:10px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.nav li :hover {
    background-color: #d1c2ba;
}

.nav li :hover {
    transform: scale(1.2);
}

.username {
    font-size: 150%;
    float: right;
    margin-right: 1%;
    color: green;
}

.fileInfo {
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    background-color: #d1c2ba;
}

.description {
    width: 100%;
    word-wrap: break-word;
}