.menu {
    position: absolute;
    margin-left: 25%;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li { 
    display: inline; 
}

ul.nav a {
    display: inline-block;
    width: 150px;
    padding:10px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.username {
    font-size: 150%;
    float: right;
    margin-right: 1%;
    color: green;
}

.label{
    position: absolute;
    margin-left: 30%;
    color: green;
}