.goback a { 
    display: inline-block;
    width: 150px;
    padding:10px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.uploadFormBox {
    position: absolute;
    width: 60%;
    height: 80%;
    margin-left: 20%;
    background-color: #d1c2ba;

}

.uploadFormContent {
    margin-left: 25%;
}
