<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="assets/css/login.css">
<head>
<body bgcolor=#f1ded3>
    <div class="loginForm">
        <form action="" method="post">
            <p>Username: <input required type="text" name="username"></p>
            <p>Password: <input required type="password" name="password"></p>
            <input type="submit" value="Login">
            <p><a href="/registration" style="color:yellow">Not registered?</a></p>
            {{ .Warning}}   
        </form>
    </div>
</body>