<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
    <link rel="stylesheet" href="assets/css/upload.css">
<head>
<body bgcolor=#f1ded3>
    <div class="menu">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/popular">Most popular</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="username">Welcome, {{ .Username}}</div>

    <div class="uploadFormBox">
        <div class="uploadFormContent">
        <form action="" method="post" enctype="multipart/form-data">
            <p>Filename: <input type="text" maxlength="50" name="filename"></p><br>
            <p>Input description for uploading file:</p>
            <textarea cols="80" rows="15" maxlength="500" name="description"></textarea>
    
            <p>Category: <select name="category">
                <option selected="selected" value="other">other</option>
                <option value="games">games</option>
                <option value="documents">documents</option>
                <option value="projects">projects</option>
                <option value="music">music</option>
                </select></p>
                   
            <p><input required type="file" name="uploaded_file"></input></p>

            <p><input type="submit" value="UPLOAD"></p>
            {{ .Warning}}
        </form>
        </div>
    </div>
</body>